---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import { Icon } from 'astro-icon/components';
import Target from '../components/Target.astro';
---

<Layout title="Welcome to Components">
	
	<Button/>
	<!-- <Button tex = "Aceptar">
		<Icon name="mdi:delete" size={10} slot='pre' />
	</Button>

	<Button tex = "Eliminar"  isRed  >

		<div class="" slot="pos">
			<Icon name="mdi:delete" size={20} class="inline-block" />
			Warning
		</div>
		
	</Button> -->

	<Target></Target>
	
</Layout>

