---
const {tex = "My boton", isRed} = Astro.props;
---
<!-- 
<div 
    class="h-10 inline-flex items-center  transition-colors hover:bg-blue-700 cursor-pointer bg-blue-600 text-white rounded-2xl py-1 px-4 "
class:list={[{"bg-red-500  hover:bg-red-800 ": isRed}]}
>
<slot name="pre" />
{tex}
<slot name="pos" />
</div> -->

